<a href="https://colab.research.google.com/github/visheshtechie/NLP/blob/master/Homework/HAssignment2_20191207.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import re

In [0]:
# Create URL to JSON file (alternatively this can be a filepath)
url = 'http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz'

# Load the JSON file into a data frame
df = pd.read_json(url,lines=True,orient='columns')

In [18]:
df.head(5)

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
#To find words not starting with b and g
def not_bg(text):
  text = re.sub("[^a-zA-Z0-9]"," ",text)
  listgb=re.findall(r"\b(?!b)\w+(?<!g)\b",text)
  return listgb

In [0]:
#Applying above function to update data in our newly made column
df['notbg'] = df['reviewText'].apply(not_bg)

In [21]:
#Seeing the results
df.head(5)

       reviewerID  ...                                              notbg
0  A32T2H8150OJLU  ...  [I, my, first, HP12C, in, about, 1984, or, so,...
1  A3MAFS04ZABRGO  ...  [WHY, THIS, BELATED, REVIEW, I, feel, very, ob...
2  A1F1A0QQP2XVH5  ...  [I, have, an, HP, 48GX, that, has, for, more, ...
3   A49R5DBXXQDE5  ...  [I, ve, started, more, finance, stuff, recentl...
4  A2XRMQA6PJ5ZJ8  ...  [For, simple, calculations, and, discounted, c...

[5 rows x 10 columns]