<a href="https://colab.research.google.com/github/visheshtechie/NLP/blob/master/Homework/Office_Product_Reviews_(Amazon).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import gzip as gz

In [0]:
# Create URL to JSON file (alternatively this can be a filepath)
url = 'http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz'

# Load the first sheet of the JSON file into a data frame
df = pd.read_json(url,lines=True,orient='columns')

In [13]:
df.head(5)

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
df['reviewText_count'] = df.reviewText

In [0]:
def word_count(text):
    seps = ["?", ".", "!"]
    for sep in seps:
        text = text.replace(sep, ' ')
    words = text.split()
    a = {}
    for i in words:
        if i not in a:
            a[i] = 1
        elif i in a:
            a[i] += 1
    return a

In [22]:
for i in range(0, df.shape[0]):
  df.reviewText_count[i] = word_count(df.reviewText_count[i])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
df.head(5)

       reviewerID  ...                                   reviewText_count
0  A32T2H8150OJLU  ...  {'I': 7, 'bought': 1, 'my': 4, 'first': 1, 'HP...
1  A3MAFS04ZABRGO  ...  {'WHY': 1, 'THIS': 2, 'BELATED': 1, 'REVIEW': ...
2  A1F1A0QQP2XVH5  ...  {'I': 2, 'have': 2, 'an': 2, 'HP': 3, '48GX': ...
3   A49R5DBXXQDE5  ...  {'I've': 4, 'started': 1, 'doing': 2, 'more': ...
4  A2XRMQA6PJ5ZJ8  ...  {'For': 1, 'simple': 1, 'calculations': 2, 'an...

[5 rows x 10 columns]