<a href="https://colab.research.google.com/github/visheshtechie/NLP/blob/master/Classwork/CAssignment3_20191210.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
#Reading Data
data = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz",lines=True)

In [3]:
import nltk
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [0]:
def nltk_lem_tok_pos(str):
  res = dict()
  adj = []
  wt = nltk.word_tokenize(str)
  mwet = nltk.MWETokenizer()
  mwetext = mwet.tokenize(str.split())
  pos = nltk.pos_tag(wt)
  lem = nltk.WordNetLemmatizer() # Only works for words with pos tags NOUN. PosTags have to be given separately for correct lemmatization
  lemmatized_output = ' '.join([lem.lemmatize(w) for w in wt])
  for i in pos:
    if i[1] == 'JJ':
      adj.append(i[0])

  res["MWE Tokenizer"] = mwetext
  res["Word Tokenizer"] = wt
  res["Lemmatizer"] = lemmatized_output
  res["Pos Tagger"] = pos
  res["Adjectives"] = adj

  return res

In [5]:
data["reviewTextNLTK"] = data.reviewText.apply(nltk_lem_tok_pos)
data.head(5)

       reviewerID  ...                                     reviewTextNLTK
0  A32T2H8150OJLU  ...  {'MWE Tokenizer': ['I', 'bought', 'my', 'first...
1  A3MAFS04ZABRGO  ...  {'MWE Tokenizer': ['WHY', 'THIS', 'BELATED', '...
2  A1F1A0QQP2XVH5  ...  {'MWE Tokenizer': ['I', 'have', 'an', 'HP', '4...
3   A49R5DBXXQDE5  ...  {'MWE Tokenizer': ['I've', 'started', 'doing',...
4  A2XRMQA6PJ5ZJ8  ...  {'MWE Tokenizer': ['For', 'simple', 'calculati...

[5 rows x 10 columns]