<a href="https://colab.research.google.com/github/visheshtechie/NLP/blob/master/Classwork/Assignment2_20191207.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import re

In [0]:
# Create URL to JSON file (alternatively this can be a filepath)
url = 'http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz'

# Load the JSON file into a data frame
df = pd.read_json(url,lines=True,orient='columns')

In [32]:
df.head(5)

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
#MAking two new columns in data frame
df['reviewText_info']=df.reviewText
df['bg_words']=df.reviewText

In [0]:
def info(text):
  v_count=0 #Vowel Count
  c_count=0 #Consonant Count
  #Removing Punctuation from Text
  seps=[".","!","?"]
  for sep in seps:
    text=text.replace(sep," ")
  #Storing all words in a list
  c_words=text.split()
  w_count=len(c_words)  #Word Count
  vowels=['a','e','i','o','u','A','E','I','O','U']
  digits=['0','1','2','3','4','5','6','7','8','9']
  #Removing all whitespaces so they dont add to consonant count
  text=text.replace(" ","")
  #Checking each index of string and identifying char type
  for i in range(len(text)):
      if text[i] in digits:
        pass
      elif text[i] in vowels:
        v_count+=1
      else:
        c_count+=1
  #Creating a dictionary to display results
  a={"vowels":v_count,"constants":c_count,"words":w_count}
  return a

In [0]:
def bg(text):
  #Creating a list that stores letters starting from b/B
  hH=re.findall(r'\b[bB]\w+',text)
  #Creating a list that stores letters ending from g/G
  gG=re.findall(r'\b\w+[gG]\b',text)
  #Making a list to store all our words
  words=[]
  #Adding words to our list
  for i in hH:
    words.append(i)
  for j in gG:
    words.append(j)
  return words

In [26]:
#Applying above functions to update data in our newly made columns
for i in range(0, df.shape[0]):
  df.reviewText_info[i]=info(df.reviewText_info[i])
  df.bg_words[i]=bg(df.bg_words[i])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [27]:
#Seeing the results
df.head(5)

       reviewerID  ...                                           bg_words
0  A32T2H8150OJLU  ...  [bought, but, by, buy, but, be, but, best, be,...
1  A3MAFS04ZABRGO  ...  [BELATED, burying, brandname, best, business, ...
2  A1F1A0QQP2XVH5  ...              [been, But, kicking, giving, working]
3   A49R5DBXXQDE5  ...  [been, because, but, buy, Black, But, beats, b...
4  A2XRMQA6PJ5ZJ8  ...  [best, business, but, be, brackets, practicing...

[5 rows x 11 columns]