<a href="https://colab.research.google.com/github/visheshtechie/NLP/blob/master/Classwork/CAssignment4_20191217.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import gzip

In [0]:
df = pd.read_csv("https://raw.githubusercontent.com/zfz/twitter_corpus/master/full-corpus.csv",error_bad_lines=False)
df1 = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz" , lines=True)

In [0]:
import nltk

In [0]:
from textblob import TextBlob

In [0]:
nltk.download('punkt')
nltk.download('brown')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package brown to /root/nltk_data...
[nltk_data]   Package brown is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [0]:
def blob(text):
  blob = TextBlob(text)
  polarity=blob.polarity
  if polarity==0:
    return "neutral"
  elif polarity>0:
     return "positive"
  else:
     return "negative"

In [0]:
df1=df1.head(20)
df=df.head(20)

In [0]:
df1['reviewText_blob']=df1['reviewText'].apply(blob)
df1.head()

       reviewerID        asin  ...   reviewTime reviewText_blob
0  A32T2H8150OJLU  B00000JBLH  ...   09 3, 2004        positive
1  A3MAFS04ZABRGO  B00000JBLH  ...  12 15, 2007        positive
2  A1F1A0QQP2XVH5  B00000JBLH  ...   01 1, 2011        positive
3   A49R5DBXXQDE5  B00000JBLH  ...  04 19, 2006        positive
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...   08 4, 2013        positive

[5 rows x 10 columns]

In [0]:
df['TweetText_blob']=df['TweetText'].apply(blob)
df.head()

   Topic  ... TweetText_blob
0  apple  ...        neutral
1  apple  ...       positive
2  apple  ...       positive
3  apple  ...       positive
4  apple  ...       positive

[5 rows x 6 columns]

In [0]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [0]:
def analyze_sentiment(text):
  a=SentimentIntensityAnalyzer()
  sentences = text
  for sentence in sentences:
    s=a.polarity_scores(sentences)
  if s['compound']<-0.05:
    return "negative"
  elif s['compound']>0.05:
    return "positive"
  else:
    return "neutral"

In [0]:
df['TweetText_sentimentanalyzer']=df['TweetText'].apply(analyze_sentiment)
df.head()

   Topic Sentiment  ...  TweetText_blob TweetText_sentimentanalyzer
0  apple  positive  ...         neutral                     neutral
1  apple  positive  ...        positive                    positive
2  apple  positive  ...        positive                    positive
3  apple  positive  ...        positive                    positive
4  apple  positive  ...        positive                    positive

[5 rows x 7 columns]

In [0]:
df1['reviewText_sentimentanalyzer']=df1['reviewText'].apply(analyze_sentiment)
df1.head()

       reviewerID        asin  ... reviewText_blob reviewText_sentimentanalyzer
0  A32T2H8150OJLU  B00000JBLH  ...        positive                     positive
1  A3MAFS04ZABRGO  B00000JBLH  ...        positive                     positive
2  A1F1A0QQP2XVH5  B00000JBLH  ...        positive                     negative
3   A49R5DBXXQDE5  B00000JBLH  ...        positive                     positive
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...        positive                     positive

[5 rows x 11 columns]

In [0]:
from sklearn.metrics import confusion_matrix

In [0]:
matrix_blob = confusion_matrix(df['Sentiment'],df['TweetText_blob'])
matrix_blob

array([[ 0,  0,  0],
       [ 0,  0,  0],
       [ 1,  2, 17]])

In [0]:
matrix_nltk = confusion_matrix(df['Sentiment'],df['TweetText_sentimentanalyzer'])
matrix_nltk

array([[ 0,  0,  0],
       [ 0,  0,  0],
       [ 2,  1, 17]])